.support {
    margin-bottom: 140px;
}

.small-container {
    max-width: 973px;
    margin: 0 auto;
    padding: 0 15px;
}

.support__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.support__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.support__item-img {
    margin-bottom: 24px;
    max-width: 80px;
}

.support__item-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.support__item-description {
    font-size: 14px;
}

@media (max-width: 920px) {
    .support__wrapper {
        justify-content: center;
        gap: 60px;
    }
}