.experience {
    margin-top: 140px;
    margin-bottom: 71px;
}

.experience__wrapper {
    padding: 70px 56px;
    display: flex;
    justify-content: start;
    background-image: url("../img/index/experience.png");
    background-position: 80% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--dark);
    border-radius: 4px;
    z-index: 1;
    position: relative;
}

.experience__title {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 600;
    color: var(--btn1);
}

.experience__subtitle {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 32px;
    color: var(--light-text);
    max-width: 444px;
}

.experience__countdown {
    margin-bottom: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.time-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    padding: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    width: 30px;
    height: 30px;
}

.time-box span {
    font-weight: 700;
    font-size: 16px;    
}

.experience__btn {
    background-color: var(--btn1);
    line-height: 1.4;
}

@media (max-width: 550px) {
    .experience__wrapper {
        padding: 40px;
    }
    .experience__subtitle {
        font-size: 30px;
        max-width: none;
    }
    
}